.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(24px,5vw,80px);
    max-width: 1120px;
    width: 100%;
    height:100%;
    /*border: 1px solid green;*/
}

.hero--default {
    flex-direction: row;
}

.hero--reverse {
    flex-direction: row-reverse;
}

h1,h2,p {
    color: var(--text-color);
}

.hero-article-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(20px,4vw,40px);
    max-width: 480px;
    /*border: 1px red solid;*/
}

.hero-article-content-wrapper {
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
    /*border: 1px yellow solid;*/
    color: var(--text-color);
}

.text-highlight {

    color: var(--primary-color);
}

@media (max-width: 800px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-article-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .hero img {
        max-width: 100%;
        height: auto;
    }
}