.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:500px;
}

.hero--default {
    flex-direction: row;

}

.hero--reverse {
    flex-direction: row-reverse;
}