.horserow-layout {
    height: 50px;
}

.horserow-layout:hover {
    background-color: rgba(223, 236, 226, 0.48);
    cursor: pointer;
}

.horserow-layout td {
    text-align: center;
}

.horse-photo {
    width: 70px;
    height:70px;
    object-fit: cover;
    border-radius: 50%;
}