/* ====================
    ELLIPSE WRAPPER
==================== */
.ellipse-wrapper {
    position: relative;
    border: 2px lightseagreen solid;
}

.image-wrapper {
    min-width: 500px;
}

/* ====================
    ELLIPSE SHAPE
==================== */
.ellipse {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

/* ============================
   DEFAULT ELLIPSE AND IMAGE "HOME"
============================= */
.ellipse--default {
    background-color: var(--primary-color);
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.ellipse-img-default {
    position: relative;
    z-index: 2;
    width: 500px;
    height: 100%;
    bottom: -6px;
    right: 30px;
}

/* ============================
   CUSTOM ELLIPSE AND IMAGE "FUNCTIES"
============================= */
.ellipse--functies {
    background-color: var(--primary-color);
    bottom: 10px;
    left: 10px;
    z-index: 1;
}
.ellipse-img--functies {
    max-height: 500px;
   width:230px;
    z-index: 2;
    left:120px;
    bottom: 3px;
}

/* ============================
   CUSTOM ELLIPSE AND IMAGE
   "HOME > WAAROM KIEZEN VOOR EQUIMANAGER"
============================= */
.ellipse--alt {
    background-color: var(--secondary-color);
    border: 12px solid var(--primary-color);
}

.ellipse--feature {
    border: 12px solid var(--primary-color);
}




