.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    border: 1px red solid;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px yellow solid;
    padding: 40px;
    max-width:700px;
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(203 30.3% 34.9%);
}