.dashboard-page {
    background-color: var(--tertiary-color);
    color:var(--background-color);
    padding: 20px;
}

.dashboard-page h1,h2,p {
    color: var(--background-color);
}

.paardenverdeling-list,
.zorgtaken-list,
.afspraken-list {
    list-style-type: none;
}

.dashboard-card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
