.contact-detail-main-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    border: 1px solid var(--primary-color);
}

.contact-profile-picture {
    width: 200px;
    height: 250px;
    border: 1px black solid;
}

.contact-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-main-info {
    border: 1px solid var(--primary-color);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.contact-main-info ul {
    list-style-type: none;
}

.info-block h2,
.info-block h3,
.info-block h4 {
    margin: 0;
}

.info-block ul {
    margin: 0;
}